body {
	background-color: seagreen; 
	font-family: courier, monospace; 
	overflow-x: hidden; 
	overflow-y: auto;
}

::-moz-selection { 
    color: whitesmoke;
    background: darkslategrey;
}

::selection {
    color: whitesmoke;
    background: darkslategrey;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#menu_ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	width: 15%;
	height: 85%;
	position: fixed;
	overflow: auto;
	background-color: darkslategrey;
}

.menu_li a {
	color: whitesmoke;
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	margin-top: 5px;
	border-left: 3px solid #395f5f;
	font-size: 2vw;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.menu_li a:hover {
	background-color: #253f3f;
}

.menu_li a:active {
	background-color: #253f3f;
}

h1, h2 {
	text-align: center;
	color: darkslategrey;
}

h1 {
	font-size: 6vw;
	margin-left: 20%;
	margin-right: 2.5%;
}

h2 {
	font-size: 4.6vw;
}

img {
	max-width: 100%;
	height: auto;
}

.flag_link {
	text-align:center;
	margin: 0 auto;
	display:block;
}

/*figure out font sizes*/ 
.div-country {
	background-color: whitesmoke;
	border: 2px solid darkslategrey;
	padding: 4%;
	margin-left: 20%;
	margin-right: 2.5%;
	max-width: 100%;
	letter-spacing: 1px;
	line-height: 1.3;
	word-spacing: -2px;
	font-size:1.75vw
}

.flag {
	width: 40%;
}

.motto {
	font-family: impact;
	font-size: 3.2vw;
	text-align: center;
	color: darkslategrey;
}

ul {
	list-style-type: square;
}

.form_div {
	background-color: #e8e8e8;
	padding: 20px;
	width: 85%;
}

input[type=text] {
	padding: 5px;
	border: 1px solid darkslategrey;
}

input[type=text]:focus {
    border: 2px solid darkslategrey;
}

.button, .img_button {
	background-color: darkslategrey;
	color: whitesmoke;
	border: 2px solid #253f3f;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.9vw;
	cursor: pointer;
	font-family: courier;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button {
	padding: 5px;
}

.img_button {
	margin: 30px auto;
	padding: 7px;
	display:block;
}

.button:hover, .img_button:hover {
	background-color: #1c2f2f;
}

.image-container-row::after {
	content: "";
	clear: both;
	display: block;
}

.img-container1, 
.img-container2, 
.img-container3,
.img-container4, 
.img-container5 {
	float: left;
	padding: 2.5px;
}

.img-container1 {
	width: 29%;
}

.img-container2 {
	width: 36.5%;
}

.img-container3 {
	width: 32%;
}

.img-container4 {
	width: 31%;
}

.img-container5 {
	width: 32%;
}


